<div fxLayout="column" fxLayoutAlign="start center" class="container">
	<app-header title="Videos"></app-header>

	<mat-card fxLayout fxLayoutAlign="center" class="mat-elevation-z15">
		<table mat-table [dataSource]="videos" fxFlex="800px">
			<ng-container matColumnDef="titulo">
				<th mat-header-cell *matHeaderCellDef>Título</th>
				<td mat-cell *matCellDef="let fila"> {{fila.titulo}} </td>
			</ng-container>

			<ng-container matColumnDef="descripcion">
				<th mat-header-cell *matHeaderCellDef>Descripción</th>
				<td mat-cell *matCellDef="let fila"> {{fila.descripcion}} </td>
			</ng-container>

			<tr mat-header-row *matHeaderRowDef="columnasAMostrar"></tr>
			<tr mat-row *matRowDef="let elem; columns: columnasAMostrar"></tr>
		</table>
	</mat-card>

	<button mat-fab color="accent" class="boton boton_agregar" (click)="showModal()">
		<mat-icon>add</mat-icon>
	</button>


</div>