<table mat-table [dataSource]="recetas">
	<ng-container matColumnDef="titulo">
		<th mat-header-cell *matHeaderCellDef>Título</th>
		<td mat-cell *matCellDef="let fila"> {{fila.titulo}} </td>
	</ng-container>

	<ng-container matColumnDef="descripcion">
		<th mat-header-cell *matHeaderCellDef>Descripción</th>
		<td mat-cell *matCellDef="let fila"> {{fila.descripcion}} </td>
	</ng-container>

	<ng-container matColumnDef="imagen">
		<th mat-header-cell *matHeaderCellDef>Título</th>
		<td mat-cell *matCellDef="let fila"> {{fila.imagen}} </td>
	</ng-container>

	<tr mat-header-row *matHeaderRowDef="columnasAMostrar"></tr>
	<tr mat-row *matRowDef="let elem; columns: columnasAMostrar"></tr>
</table>