/* You can add global styles to this file, and also import other style files */
body {
  margin: 0;
  padding: 0;
}
header {
  display: flex;
  background: #333;
  justify-content: center;
}

header a {
  color: white;
  text-decoration: none;
  padding: 20px 20px;
  font-size: 20px;
}

header a:hover,
header a.active {
  background: white;
  color: #333;
}

.box {
  height: 500px;
  margin: 20px;
  display: flex;
  color: white;
  justify-content: center;
  align-items: center;
}

.box h1 {
  font-size: 60px;
}
.box.box1 {
  background: #7d0000;
}
.box.box2 {
  background: #cd3700;
}
.box.box3 {
  background: #cd7f32;
}
